body {
  background-image: url('flapjaws.png');
  background-size: 100%;
  background-position: 25% -5%;
}
header {
  background: #000;
  height: 100px;
  width: 100%;
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  max-width: 90%;
}
header span a {
  font-family: "Mensch", sans-serif;
  color: white;
  float: right;
  padding-right: 20px;
}
ul.nav {
  text-align: center;
  font-family: "Mensch", sans-serif;
  padding-top: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: black;
  width: 100%;
}
ul.nav li {
  display: inline-block;
}
ul.nav li:first-child {
  display: inline-block;
  margin-left: 0px;
}
ul.nav li a {
  color: white;
  font-size: 24px;
}
ul.nav li a:hover {
  background: white;
  color: black;
}
.content {
  max-width: 100%;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
  padding: 5px 10px 5px 10px;
}
.content p {
  color: white;
  font-family: "Futura", sans-serif;
  font-size: 18px;
}
.content form {
  font-family: "Mensch", sans-serif;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}
.content form p {
  margin: 0px 0px 5px 0px;
}
.content form input {
  border-radius: 4px;
  color: black;
  font-family: "Futura", sans-serif;
  margin: 0px 0px 10px 0px;
}
.content .register {
  font-family: "Futura", sans-serif;
  color: white;
  font-size: 14px;
}
.content h1 {
  font-family: "Mensch", sans-serif;
  color: white;
}
.content img {
  width: 100%;
}
